// -----------------
// adc - mcp3204
// -----------------
&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  0,  5)>,	// SCK:  P0.05 (D5)
                    <NRF_PSEL(SPIM_MOSI, 0,  4)>,	// MOSI: P0.04 (D4)
                    <NRF_PSEL(SPIM_MISO, 0, 29)>;	// MISO: P0.29 (D3)
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  0,  5)>,	// SCK:  P0.05 (D5)
                    <NRF_PSEL(SPIM_MOSI, 0,  4)>,	// MOSI: P0.04 (D4)
                    <NRF_PSEL(SPIM_MISO, 0, 29)>;	// MISO: P0.29 (D3)
            low-power-enable;
        };
    };
};



&spi0 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&xiao_d 10 GPIO_ACTIVE_LOW>;         // /CS: P1.15 (D10)

    mcp3204: mcp3204@0 {
        compatible = "microchip,mcp3204";
        reg = <0x0>;
        spi-max-frequency = <400000>;  // ok
     // spi-max-frequency = <100000>;  // NG
        #io-channel-cells = <1>;
        duplex = <0>;		// 0: full duplex, 2048: half duplex
    };

};


// -----------------
// usb serial
// -----------------
/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
    };
};

&usbd {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};
